body {
	display: flex;
	background-color: #351FB7;
	justify-content: center;
	align-items: center;
	}

.grid {
	width: 940px;
	aspect-ratio: 1/1;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: .5em;
}

.board {
	grid-row-start: 3;
	grid-row-end: 5;
	grid-column-start: 2;
	grid-column-end: 6;
}

.memory-card {
	height: 150px;
	width: 150px;
	transform-style: preserve-3d;
	position: relative;
	transition: transform 0.5s;
}

.front-face{
	height: 150px;
	width: 150px;
	position: absolute;
    backface-visibility: hidden;
	transform: rotateY(180deg);
}

.back-face{
	height: 150px;
	width: 150px;
	position: absolute;
    backface-visibility: hidden;
}
 
.tv-screen {
    flex-basis: calc(100% / 6);
    text-align: center;
    margin: 10px;
    width: 75%;
      }

.tv-screen-one {
    width: 100%;
    height: auto;
    border-style: solid;
    border-color: black;
    border-width: thick;
}


.board {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }

  .memory-card.flip {
    transform: rotateY(180deg);
  }



